body {
	font-size: 16px;
	line-height: normal;
	color: black;
	font-weight: normal;
	font-family: Times New Roman;
}

h1 {
	font-size: 40px;
	line-height: normal;
	color: black;
	font-weight: bold;
	font-family: Times New Roman;
}

h2 {
	font-size: 18px;
	line-height: normal;
	color: black;
	font-weight: bold;
	font-family: Times New Roman;
}